@model List<DetailShop.Models.DbModels.Components>
<main>
    <h1>Комплектующие</h1>
    <table>
        <tbody>
            @foreach (var Component in Model)
            {
                <tr>
                    <td>@Component.ID_Component</td>
                    <td>@Component.Name</td>
                    <td>@Component.Description</td>
                    <td>@Component.Cost</td>
                    <td>@Component.Specifications</td>             
                </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("AddComponents", "Home", FormMethod.Post))
    {
        <h1>Добавить Комплектующие</h1>
        <div>
            <label for="text">Название комплектующего:</label>
            @Html.TextBox("Title", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
        </div>

        <div>
            <label for="text">Описание:</label>
            @Html.TextBox("description", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
        </div>

        <div>
            <label for="number">Цена:</label>
            @Html.TextBox("price", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="number">Характеристики:</label>
            @Html.TextBox("spec", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="role">Производитель:</label>
            @Html.DropDownList("providers", new SelectList(new[] {
        new SelectListItem { Text = "Intel", Value = "1" },
        new SelectListItem { Text = "Samsung", Value = "2" },
        new SelectListItem { Text = "NVIDIA", Value = "3" },
        new SelectListItem { Text = "ASUS", Value = "4" },
        new SelectListItem { Text = "Corsair", Value = "5" },
        new SelectListItem { Text = "CoolerMaster", Value = "6" },
        new SelectListItem { Text = "Logitech", Value = "7" },
        new SelectListItem { Text = "NZXT", Value = "8" },
        new SelectListItem { Text = "TP-Link", Value = "9" },
        new SelectListItem { Text = "Crucial", Value = "10" }
        }, "Value", "Text"), "Выберите производителя", new { @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="role">Тип комплектующих:</label>
            @Html.DropDownList("type", new SelectList(new[] {
        new SelectListItem { Text = "Процессор", Value = "1" },
        new SelectListItem { Text = "Хранение", Value = "2" },
        new SelectListItem { Text = "Видеокарта", Value = "3" },
        new SelectListItem { Text = "Материнская плата", Value = "4" },
        new SelectListItem { Text = "Блок питания", Value = "5" },
        new SelectListItem { Text = "Охлаждение", Value = "6" },
        new SelectListItem { Text = "Периферийные устройства", Value = "7" },
        new SelectListItem { Text = "Корпус", Value = "8" },
        new SelectListItem { Text = "Сетевое оборудование", Value = "9" },
        new SelectListItem { Text = "Память", Value = "10" }
        }, "Value", "Text"), "Выберите тип комплектующих", new { @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="number">Количество:</label>
            @Html.TextBox("count", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
        </div>
        <button class="btn btn-primary" type="submit">Добавить</button>
    }
    @using (Html.BeginForm("DeleteComponents", "Home", FormMethod.Post))
    {
        <h1>Удалить Продукт</h1>
        <div>
            <label for="idprod">Комплектующее:</label>
            @Html.DropDownList("idprod", (IEnumerable<SelectListItem>)ViewBag.DeleteCompList, new { @class = "form-control", required = "required" })
        </div>
        <button class="btn btn-primary" type="submit">Удалить</button>
    }
    @using (Html.BeginForm("EditProducts", "Home", FormMethod.Post))
    {
        <h1>Редактировать продукт</h1>

        <div>
            <label for="searchId">Найти по ID:</label>
            <input type="text" id="searchId" class="form-control" style="height: 30px">
            <button type="button" class="btn btn-primary" id="findButton">Найти</button>
        </div>

        <div>
            <label for="Name">Название:</label>
            @Html.TextBox("Name", null, new { id = "Name", @style = "height: 30px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="Description">Описание:</label>
            @Html.TextBox("Description", null, new { id = "Description", @style = "height: 30px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="Cost">Цена:</label>
            @Html.TextBox("Cost", null, new { id = "Cost", @style = "height: 30px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="ID_Type">Тип продукта:</label>
            @Html.DropDownList("ID_Type", (IEnumerable<SelectListItem>)ViewBag.TypeList, new { id = "ID_Type", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="ID_Provider">Производитель:</label>
            @Html.DropDownList("ID_Provider", (IEnumerable<SelectListItem>)ViewBag.ManifList, new { id = "ID_Provider", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="Specifications">Характеристики:</label>
            @Html.TextBox("Specifications", null, new { id = "Specifications", @style = "height: 30px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="Count">Кол-во:</label>
            @Html.TextBox("Count", null, new { id = "Count", @style = "height: 30px", @class = "form-control", required = "required" })
        </div>

        <button class="btn btn-primary" type="submit">Добавить</button>
    }
    @section Script {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#findButton').click(function () {
                    var id = $('#searchId').val();
                    if (id) {
                        $.ajax({
                            url: '@Url.Action("GetComponentById", "Home")',
                            type: 'GET',
                            data: { id: id },
                            success: function (data) {
                                console.log("Data received: ", data);
                                if (data) {
                                    $('#ID_Component').val(data.id_Component);
                                    $('#Name').val(data.name);
                                    $('#Description').val(data.description);
                                    $('#Cost').val(data.cost);
                                    $('#ID_Type').val(data.id_Type);
                                    $('#ID_Provider').val(data.id_Provider);
                                    $('#Specifications').val(data.specifications);
                                    $('#Count').val(data.count);
                                } else {
                                    alert("Компонент не найден");
                                }
                            },
                            error: function () {
                                alert("Произошла ошибка при поиске компонента");
                            }
                        });
                    } else {
                        alert("Введите ID компонента");
                    }
                });
            });

        </script>
    }

</main>