@model List<DetailShop.Models.DbModels.Component>

<h1 >Комплектующие</h1>
<table>
    <tbody>
        @foreach (var Component in Model)
        {
            <tr>
                <td>@Component.Name</td>
                <td>@Component.Description</td>
                <td>@Component.Cost</td>
                <td>@Component.Specifications</td>
                <td>
                    <form method="post" action="@Url.Action("AddToCart", "Main")">
                        <input type="hidden" name="componentId" value="@Component.ID_Component" />
                        <input type="number" name="quantity" value="1" />
                        <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
