@model List<DetailShop.Models.DbModels.Components>

 <main>
    <h1>Наш ассортимент продуктов</h1>
    <div class="products-container">
        @foreach (var product in Model)
        {
            <div class="product-card">
                <div class="product-details">
                    <a href="@Url.Action("ComponentDetails", "Home", new { id = product.ID_Component })">
                        <h2>@product.Name</h2>
                    </a>
                    <p class="product-description">@product.Description</p>
                    <p class="product-price">@Math.Round(product.Cost, 2)</p>
                    <button class="buy-button" onclick="addToCart(@product.ID_Component, @product.Cost)">Купить</button>
                </div>
            </div>
        }
    </div>
    <script>
        function addToCart(productId, unitPrice) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/Home/AddToCart';

            var productIdField = document.createElement('input');
            productIdField.type = 'hidden';
            productIdField.name = 'productID';
            productIdField.value = productId;
            form.appendChild(productIdField);

            var unitPriceField = document.createElement('input');
            unitPriceField.type = 'hidden';
            unitPriceField.name = 'unitPrice';
            unitPriceField.value = unitPrice;
            form.appendChild(unitPriceField);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</main>
