@using DetailShop
@{
    var listMenu = new DetailShop.Models.Menu.ListMenu();
    int? userRole = ViewBag.UserRole as int?;
}
<header>
    <div class="divHeader">
        <nav>
            <ul>
                @if (User.Identity!.IsAuthenticated == false)
                {
                    @foreach (var item in listMenu.GuestHeaderMenu)
                    {
                        <li class="headerli"><button class="btn btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                    }
                }
                else if (userRole == 3)
                {
                    @foreach (var item in listMenu.UserHeaderMenu)
                    {
                        <li class="headerli"><button class="btn btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                    }
                    <li class="headerli">Добро пожаловать, @User.Identity.Name!</li>
                }
                else if (userRole == 2)
                {
                    @foreach (var item in listMenu.UserHeaderMenu)
                    {
                        <li class="headerli"><button class="btn btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                    }
                    <li class="headerli">Добро пожаловать, @User.Identity.Name!</li>
                }
                else if (userRole == 1)
                {
                    @foreach (var item in listMenu.AdminHeaderMenu)
                    {
                        <li class="headerli"><button class="btn btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                    }
                    <li class="headerli">Добро пожаловать, @User.Identity.Name!</li>
                }
            </ul>
        </nav>
    </div>
</header>