@using DetailShop.Models;
@model LoginViewModel


<h1>Login</h1>
@using (Html.BeginForm("Enter", "Authentication", FormMethod.Post))
{ 
    <div>
        @Html.LabelFor(model => model.Login)
        @Html.TextBoxFor(model => model.Login)
    </div>
    <div>
        @Html.LabelFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password)
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <button type="submit" class="btn btn-primary">Enter</button>
    @using (Html.BeginForm("Registration", "Authentication", FormMethod.Get, new { @class = "form-inline" }))
    {
        <button type="submit" class="btn btn-primary">Registration</button>
    }


}
