@model List<DetailShop.Models.DbModels.Reviews>
<main>
    <h1>Отзывы</h1>

    @foreach (var review in Model)
    {
        <div class="divBlock">
            <p>Пользователь № @review.ID_Account</p>
            <p>Комплектующее: @(ViewBag.ComponentNames.ContainsKey(review.ID_Component) ? ViewBag.ComponentNames[review.ID_Component] : "Неизвестно")</p>
            <p>Комментарий: <i style="font-weight:600">@review.Comment</i></p>
            <p>Оценка: <strong>@review.Rating</strong></p>
        </div>
    }

    @using (Html.BeginForm("AddReviews", "Main", FormMethod.Post))
    {
        <h1>Оставить отзыв</h1>
        <div>
            <label for="comment">Комментарий:</label>
            @Html.TextArea("comment", null, new { @class = "form-control", required = "required", rows = "4" })
        </div>
        <div>
            <label for="type">Комплектующее:</label>
            @Html.DropDownList("type", (IEnumerable<SelectListItem>)ViewBag.ComponentList, new { @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="rating">Оценка:</label>
            @Html.TextBox("rating", null, new { @class = "form-control", required = "required", type = "number", min = "1", max = "5" })
        </div>
        <button class="btn btn-primary" type="submit">Добавить</button>
    }
</main>


