@model IEnumerable<DetailShop.Models.DbModels.Account>

<main>
<h1>Пользователи</h1>

@foreach (var user in Model)
{
    <div class="divBlock">
        <p>ID: @user.ID_Account</p>
        <p>Имя: @user.Login</p>
        <p>Последний вход: @user.Last_Sign </p>
        <p>Роль: @user.ID_Role</p>
    </div>
}


@using (Html.BeginForm("Users", "Main", FormMethod.Post))
{
    <h1>Добавить пользователя</h1>
    <div>
        <label for="login">Логин:</label>
        @Html.TextBox("login", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
    </div>

    <div>
        <label for="password">Пароль:</label>
        @Html.Password("password", null, new { @style = "height: 10px", @class = "form-control", required = "required" })
    </div>

    <div>
        <label for="role">Роль:</label>
        @Html.DropDownList("role", new SelectList(new[] {
    new SelectListItem { Text = "Администратор", Value = "1" },
    new SelectListItem { Text = "Модератор", Value = "2" },
    new SelectListItem { Text = "Пользователь", Value = "3" },
    }, "Value", "Text"), "Выберите роль", new { @class = "form-control", required = "required" })
    </div>

    <button class="btn btn-primary" type="submit">Добавить</button>
}
    @using (Html.BeginForm("DeleteUser", "Main", FormMethod.Post))
    {
        <h1>Удалить пользователя</h1>
        <div>
            <label for="userId">Id пользователя:</label>
            @Html.TextBox("userId", null, new { @style = "height: 30px", @class = "form-control", required = "required" })
        </div>

        <button class="btn btn-primary" type="submit">Удалить</button>
    }
    @using (Html.BeginForm("EditUser", "Main", FormMethod.Post))
    {
        <h1>Редактировать пользователя</h1>

        <div>
            <label for="searchId">Найти по ID:</label>
            <input type="text" id="searchId" class="form-control" style="height: 30px">
            <button type="button" class="btn btn-primary" id="searchButton">Найти</button>
        </div>

        <div>
            <label for="editlogin">Логин:</label>
            @Html.TextBox("Login", null, new { @style = "height: 30px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="editpassword">Пароль:</label>
            @Html.Password("Password", null, new { @style = "height: 30px", @class = "form-control", required = "required" })
        </div>
        <div>
            <label for="role">Роль:</label>
            @Html.DropDownList("ID_Role", new SelectList(new[] {
        new SelectListItem { Text = "Администратор", Value = "1" },
        new SelectListItem { Text = "Модератор", Value = "2" },
        new SelectListItem { Text = "Пользователь", Value = "3" },
        }, "Value", "Text"), "Выберите роль", new { @class = "form-control", required = "required" })
        </div>

        <button class="btn btn-primary" type="submit">Добавить</button>
    }

    @section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#searchButton').click(function () {
                    var id = $('#searchId').val();
                    if (id) {
                        $.ajax({
                            url: '@Url.Action("GetUserById", "Main")',
                            type: 'GET',
                            data: { id: id },
                            success: function (data) {
                                if (data) {
                                    $('#ID_Account').val(data.id_Account);
                                    $('#Login').val(data.login);
                                    $('#Password').val(data.password);
                                    $('#ID_Role').val(data.id_Role);
                                } else {
                                    alert("Пользователь не найден");
                                }
                            },
                            error: function () {
                                alert("Произошла ошибка при поиске пользователя");
                            }
                        });
                    } else {
                        alert("Введите ID пользователя");
                    }
                });
            });
        </script>
    }

</main>
